/*--------------------------------------------------------------------------------------Colours
#ff664bff
rgba(255,102,75,1)
*/


body {
    margin: 0px;
    width: 100%;
    font-family: "Montserrat", Arial, sans-serif;
    background-color: rgba(10,30,50,1);
} 

ul, li {
margin: 0;
padding: 0;
}

a {
    text-decoration: none;
}

.indexNavImage{

    
    
    
    display: flex;
  justify-content: center;  
  align-items: center;   
}


@media (min-aspect-ratio: 120/100) {
    .indexNavImageWrapper  {
    position: relative;
    display: flex;
    width: 100%;
    background-image: url('images/rrr-wl-2x1.png');
    justify-content: center;  
    align-items: center; 
    }

    .catchphrase{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #303030;
    margin-top: 5vh;
    font-family: "Montserrat", Arial, sans-serif;
    width: 100%;
    }

    .sub-catchphrase{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #303030;
    font-family: "Montserrat", Arial, sans-serif;
    width: 100%;
    }

    .sub-catchphrase h4{
    color: gray;
    font-size: 2vw;
    font-weight: 300;
    position: relative;
    text-transform: uppercase;
    top: 0;
    margin: 0;
    padding: 0;
    }

    .catchphrase h3{
    font-size: 4.6vw;
    font-weight: 300;
    text-transform: uppercase;
    bottom: 0;
    margin: 0;
    padding: 0;
    }

    .center-image {
    height: 17vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0px;
    padding: 0px;
    position: relative;
    margin-top: 10vh;
    }

    .email-subscription h3{
        font-size: 3em;
    }

    .blurb h3{
        font-size: 1.2em;
        margin-top: -1.5em;
        color: lightgray;
    }

    .subscribe-input {
        background: rgba(0,0,0,0);
        border: none;
        font-size: .9em;
        color: rgba(255,102,75,1);
        padding: 20px 3em 20px 20px;
    }

    .button {
        background: rgba(0,0,0,0);
      border: none;
      color: grey;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: .9em;
        padding: 20px;
        font-weight: bold;
    }
}

@media (min-aspect-ratio: 3/4) and (max-aspect-ratio: 120/100) {
    .indexNavImageWrapper  {
    position: relative;
    display: flex;
    width: 100%;
    background-image: url('images/rrr-tablet.jpg'); 
    justify-content: center;  
    align-items: center;
    }

    .catchphrase{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #303030;
    margin-top: 7vh;
    font-family: "Montserrat", Arial, sans-serif;
    width: 100%
    }

    .sub-catchphrase{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #303030;
    margin-top: -5vh;
    font-family: "Montserrat", Arial, sans-serif;
    margin-top: 2px;
    width: 100%
    }

    .sub-catchphrase h4{
    color: gray;
    font-size: 2.4vw;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    top: 0;
    margin: 0;
    padding: 0;
    }

    .catchphrase h3{
    font-size: 5.5vw;
    font-weight: 300;
    text-transform: uppercase;
    bottom: 0;
    margin: 0;
    padding: 0;
    }

    .center-image {
    height: 17vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0px;
    padding: 0px;
    position: relative;
    margin-top: 15vh;
    }

    .email-subscription h3{
        font-size: 3em;
    }

    .blurb h3{
        font-size: 1.2em;
        margin-top: -1.5em;
        color: lightgray;
    }

    .subscribe-input {
        background: rgba(0,0,0,0);
        border: none;
        font-size: .9em;
        color: rgba(255,102,75,1);
        padding: 20px 3em 20px 20px;
    }

    .button {
        background: rgba(0,0,0,0);
      border: none;
      color: grey;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: .9em;
        padding: 20px;
        font-weight: bold;
    }
}

@media (max-aspect-ratio: 3/4) {
    .indexNavImageWrapper  {
    position: relative;
    display: flex;
    width: 100%;
    background-image: url('images/rrr-smartphone-2.jpg'); 
    justify-content: center;  
    align-items: center;
    }

    .catchphrase{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #303030;
    margin-top: 3vh;
    font-family: "Montserrat", Arial, sans-serif;
    width: 100%;
    }

    .sub-catchphrase{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #303030;
    font-family: "Montserrat", Arial, sans-serif;
    width: 100%;
    vertical-align: baseline;
    margin-top: 10px;
    }

    .sub-catchphrase h4{
    color: gray;
    font-size: 2.8vw;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    top: 0;
    margin: 0;
    padding: 0;
    }

    .catchphrase h3{
   /* font-size: 4.5vw;*/
    font-size: 6.6vw;
    font-weight: 300;
    text-transform: uppercase;
    bottom: 0;
    margin: 0;
    padding: 0;
    }

    .center-image {
    height: 17%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 0px;
    position: relative;
    margin-top: 18vh;
    }

    .email-subscription h3{
        font-size: 6em !important;
    }

    .blurb h3{
        font-size: 2.2em !important;
        margin-top: -1.5em;
        color: lightgray;
    }

    .subscribe-input {
        background: rgba(0,0,0,0);
        border: none;
        font-size: 2em;
        color: rgba(255,102,75,1);
        padding: 20px 3em 20px 20px;
    }

    .button {
        background: rgba(0,0,0,0);
      border: none;
      color: grey;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 2em;
        padding: 20px;
        font-weight: bold;
    }
}


.title-logo {
  align-items: center;  
  justify-content: flex-start;
  width: 100%;
  height: 100%;  
  display: flex;
  flex-direction: column;
}



.center-image img {
  height: 100%;
}



.banner img{
    width: 100%;
    display: flex;
}

.banner{
    position: relative;
    
}


.banner-button {
    display: inline-block;
    text-align: center;
}

.banner-text{
    position: absolute;
    top:15%;
    left: 60%;
    max-width: 300px;
    z-index: 5;
    padding: 20px;
    border: 0px solid black;
    text-align: center;
}

.banner-text h1 {
    font-size: 55px;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
}

.banner-text h2 {
    font-size: 76px;
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
}

.banner-text h3 {
    text-align: left;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 20px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  position: relative;
}

.grid-item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.grid-item-text {
    position: absolute;
    color: white;
    bottom: 8px;
    left: 16px;
    padding: 20px;
}

.grid-item-text h2 {
    
}


/*----------------------------------------------------------------------------Header Nav Bar*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    position: sticky;
    top: 0;
    z-index: 900;
    background-color: white;
    font-weight: bold;
}

.make-header-return-to-top-work {
    width: 100%;
    height: 0px;
}

/*------Header LEFT------*/

.header-div-left {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-div-left-item {
    display: inline-block;
    
}

.header-div-left-item button{
    padding: 20px 20px 20px 0px;
    background-color: rgba(0,0,0,0);
    border: 0px solid black;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: bold;
    font-size: 16px;
}

.header-div-left-item button:hover {
    color: rgba(255,102,75,1);
}

/*------Header MIDDLE------*/

.header-div-middle {
    position: relative;
}

.header-div-middle-black {
    position: relative;
}

.header-logo-black {
    height: 60px;
    cursor: pointer;
    position: relative;
}

.header-div-middle-pink {
    position: absolute;
    top: 0;
}

.header-logo-pink {
    height: 60px;
    cursor: pointer;
    object-fit: contain;
    opacity: 0;
}

.header-logo-pink:hover {
    opacity: 1;
    transition: all 0.3s ease 0s;
}

/*------Header RIGHT------*/

.header-div-right {
    width: 40%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.header-div-right-item {
    display: inline-block;
    padding: 0px 0px 0px 20px;
}


.contact {
    float: right;
}

.shopping-bag-logo {
    height: 30px
}



.contact button {
    padding: 9px 25px;
    background-color: rgba(0,0,0,0);
    border: 1.5px solid black;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: bold;
    font-size: 16px;
}

.contact button:hover {
    border-color: rgba(255,102,75,1);
    background-color: rgba(255,102,75,.1);
    color: rgba(255,102,75,1)
}

/*-------------------------------------------------------------------------------------Footer*/
.footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer {
    background-color: rgba(10,30,50,1);
    height: auto;
    color: white;
    border: 2px solid white;
    position: relative;
    padding: 50px;
    margin: 75px;
}

.footer h3{
    margin-top: 0px ;
    margin-bottom: 35px;
    font-weight: 100;
    font-size:2.5vw;
    
}

.email-subscription{
    display: flex;

      color: white;
}



.container-container {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cc-text {
    
}

.cc-text h4 {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: .9vw;
    width: 700px;
        color: gray;
    line-height: 1.6;
}

.container {
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    border-color: rgba(255,102,75,1);
    display: inline-block;
  justify-content: center;
  align-items: center;
    max-width: auto;
    width: auto;
}


.button:hover {
    color: rgba(255,102,75,1);
    cursor: pointer;
}

.subscribe-input:focus {
    outline: none;
}

.subscribe-input:focus::placeholder {
  color: transparent;
}

hr {
    max-width: 85%;
    height: 0.5px;
    border: none;
    background-color: #484848;
}

.footer-details {
    max-width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-bottom: 55px;
    padding-top: 50px;
}

.footer-details a{
    color: silver;
    font-weight: 100;
}

.footer-details a:hover{
    color: white;
}

.footer-details-header {
    text-transform: uppercase;
    margin-bottom: 20px;
}

.social-media-box {
    display: grid;
    padding: 0px;
    grid-template-columns: 40px 40px 40px 40px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 10px;
}
.social-media-box-t {
    display: grid;
    padding: 0px;
    grid-template-columns: 80px 80px 80px 80px 80px;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 400px;
    margin-top: 20px;
}

.social-media-icon{
    width: 35px;
    height: 35px;
    margin: 0px;
    cursor: pointer;
    border-radius: 20px;
    border-width: 1.5px;
    border-color: rgba(10,30,50,1);
    border-style: solid;
}

.social-media-icon-t{
    width: 70px;
    height: 70px;
    margin: 0px;
    cursor: pointer;
    border-radius: 35px;
    border-width: 1.5px;
    border-color: rgba(255,255,255,0);
    border-style: solid;
}

.social-media-icon img{
    width: 35px;
}

.social-media-icon-t img{
    width: 70px;
}

.social-media-icon:hover{
    border-width: 1.5px;
    border-color: white;
    border-style: solid;
}

.social-media-icon-t:hover{
    border-width: 1.5px;
    border-color: white;
    border-style: solid;
}


.footerNav {
    margin-bottom: 10px;
}

.footer-logo {
    max-width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: auto 90px auto;
    padding-bottom: 25px;
}

.footer-logo-pink {
    height: 60px;
    cursor: pointer;
    object-fit: contain;
}

.hr-line {
    width: auto;
    height: 0.5px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #484848;
}


.footer-div-middle-pink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us {
    width: 80%;
    margin-left: 10%;
}

.about-us h2 {
    font-family: "Montserrat", Arial, sans-serif;
    line-height: 1.6;
    font-weight: 100;
    color: lightgray
}
